$mainColor: #333;
$fontFamily: "Roboto";
$fontSize: 16px;

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    // outline: none;
}

a {
    cursor: pointer;
}

a:focus,
a:active {
    // outline: none;
}

html,
body {
    height: 100%;
}

body {
    color: $mainColor;
    line-height: 1;
    font-family: $fontFamily;
    font-size: $fontSize;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

input,
button,
textarea {
    font-family: $fontFamily;
    font-size: inherit;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
    font-family: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}